<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Benjamin Riviere | Welcome to the site of Benjamin Riviere!</title>
    <meta name="description" content="Welcome to the academic site of Benjamin Riviere, PhD Student at Caltech!" />
    <meta property="og:title" content="Benjamin Riviere" />
    <meta name="author" content="Benjamin Riviere" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:description" content="Welcome to the site of Benjamin Riviere!" />
    <meta property="og:url" content="http://localhost:4000/" />
    <meta property="og:site_name" content="Benjamin Riviere" />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:title" content="Benjamin Riviere" />
    <script type="application/ld+json">
        {
            "@type": "WebSite",
            "url": "http://localhost:4000/",
            "headline": "Benjamin Riviere",
            "author": {
                "@type": "Person",
                "name": "Benjamin Riviere"
            },
            "description": "Welcome to the site of Benjamin Riviere!",
            "name": "Benjamin Riviere",
            "@context": "https://schema.org"
        }
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            line-height: 1.6;
        }

        .site-header {
            background: #343a40;
            color: white;
            padding: 1rem 0;
        }

        .site-title {
            font-size: 1.5rem;
            color: white;
            text-decoration: none;
        }

        .site-nav {
            margin-top: 1rem;
        }

        .site-nav a {
            color: white;
            margin-left: 1rem;
            text-decoration: none;
        }

        .site-nav a:hover {
            text-decoration: underline;
        }

        .wrapper {
            max-width: 1200px;
            margin: 0 auto;
            padding: 2rem;
        }

        .home img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }

        .column {
            margin-bottom: 1rem;
        }

        .footer-col-wrapper {
            display: flex;
            justify-content: space-between;
        }

        .footer-col {
            margin: 1rem 0;
        }

        .contact-list li {
            list-style: none;
        }

        .contact-list a {
            color: #343a40;
        }

        .footer-col p {
            margin: 0;
        }

        .img-container img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        #publications .row {
            margin-bottom: 2rem; /* Add this rule */
        }

    </style>
</head>

<body>
    <header class="site-header">
        <div class="wrapper">
            <a class="site-title" rel="author" href="/">Benjamin Riviere</a>
            <nav class="site-nav">
                <a href="/">Home</a>
                <a href="#about">About</a>
                <a href="#research">Research</a>
                <a href="#news">News</a>
                <a href="#publications">Selected Publications</a>
            </nav>
        </div>
    </header>

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            <section id="about">
                <h2>About Me</h2>
                <div class="row">
                    <div class="col-md-8">
                        <p>
                            Hello and welcome to my website! 
                            I am a postdoctoral researcher hosted by Prof. Joel Burdick and Prof. Yisong Yue at the California Institute of Technology (Caltech). 
                            I received the B.S. in Mechanical Engineering from Stanford University, and the M.S. and PhD. in Aeronautics from Caltech, advised by Prof. Soon-Jo Chung. 
                        </p>
                        <div class="text-center">
                            <a class="btn btn-primary" href="https://drive.google.com/file/d/1QzC-xlw-x_ctUowstGXh0aesVunf4Aqs/view?usp=sharing">CV</a>
                            <!-- <a class="btn btn-primary" href="https://drive.google.com/file/d/1w-OxY2U8u7TRog6-rjhXf_TY9qFPyyMw/view?usp=sharing">Thesis</a> -->
                            <a class="btn btn-primary" href="https://drive.google.com/file/d/19U18NSPh4VXzUjiSprRxDWN0nNm3lUv-/view?usp=sharing">Research Statement</a>
                            <!-- <a class="btn btn-primary" href="https://drive.google.com/file/d/1bxYMv9294eQ11d6PvAeYjZczRPW4b_j4/view?usp=sharing">Slides</a> -->
                            <a class="btn btn-primary" href="https://scholar.google.com/citations?user=8A-sI8MAAAAJ&amp;hl=en&amp;oi=ao">Google Scholar</a>
                            <a class="btn btn-primary" href="https://www.linkedin.com/in/benjamin-rivi%C3%A8re-442419a2/">LinkedIn</a>
                            <a class="btn btn-primary" href="https://github.com/bpriviere">GitHub</a>
                        </div>
                    </div>
                    <div class="col-md-4 img-container">
                        <img src="images/square_headshot_v2_lower_res.png" alt="This is me!">
                    </div>
                </div>
            </section>

            <section id="research">
                <h2>Research Summary</h2>
                <p>                
                    I am broadly interested in planning, machine learning, and dynamical systems with applications in robotics, space autonomy, and self-driving cars. 
                    My particlar research area is integrating model-based planning and data-driven learning algorithms using physics-based representations. 
                    I make contributions in theory, algorithm development, and hardware experiments, using techniques from controls and dynamical systems, machine learning, and optimization. 
                    More generally, I am interested in the study and design of sophisticated models of physical intelligence as a dynamical system, and validating these models with impactful robotic experiments. 
                </p>
            </section>

            <section id="news">
                <h2>News</h2>
                <ul>
                    <li> I am honored to be selected for the <a href="https://www.galcit.caltech.edu/academics/honors-and-awards/ballhaus-prize"> William F. Ballhaus Doctoral Prize!</a> (Departmental Thesis Award) (1 or 2 per year at Caltech). </li>
                    <li> I am honored to be selected as a <a href="https://robotics.umd.edu/futureleaders">2024 Future Leader in Robotics and AI by Microsoft Robotics and University of Maryland!</a>.</li>
                    <li> I am honored to be selected as a <a href="https://sites.google.com/view/rsspioneers2023/participants?authuser=0">RSS Pioneer 2023!</a>. </li>
                    <li> Our paper was selected as <a href="https://www.eas.caltech.edu/news/jimmy-ragan-and-benjamin-rivi%C3%A8re-receive-2023-aiaa-guidance-navigation-and-control-best-graduate-student-paper-award">Best Graduate Student Paper Award in the field of Guidance, Navigation, and Control at the 2023 AIAA SciTech Forum!</a>! </li>
                    <!-- <li>Southern California Robotics (SCR) Symposium Rising Stars 2022!</li> -->
                    <li> I enjoyed my summer as a research intern at <a href="https://motional.com/">Motional</a> on the Machine Learning Planning team (2021).</li>
                    <li> I am honored to organize the GALCIT Colloquium Series during 2020-2021.</li>
                    <li> Our paper was selected as <a href="https://arxiv.org/abs/2002.11807"><a href="https://www.ieee-ras.org/publications/ra-l/ra-l-paper-awards">Honorable Mention for Best Paper of IEEE Robotics and Automation Letters 2020</a> (<1% of all papers)! </li>
                </ul>
            </section>

            <section id="publications">
                <h2>Selected Publications</h2>
                (* denotes equal contribution)
                <div class="row">
                    <div class="col-md-4 img-container">
                        <!-- <img src="images/sets_2.png" alt="This is SETS!"> -->
                        <img src="images/scirobotics.2024.9.issue-97.largecover.jpg" alt="This is SETS!">
                    </div>
                    <div class="col-md-8">
                        <h3>Monte Carlo Tree Search for Dynamical Systems with Spectral Expansion</h3>
                        <p><strong>Benjamin Riviere*</strong>, John Lathrop* and Soon-Jo Chung.</p>
                        <p>Spectral Expansion Tree Search (SETS) is a real-time planning algorithm that uses dynamical systems theory to construct a low-complexity and provably-correct representation of high-dimensional and continuous decision-making problems. Published in Science Robotics December 2024 <a href="https://www.science.org/doi/10.1126/scirobotics.ado1010">Paper</a>. </p>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 img-container">
                        <img src="images/sfeast.png" alt="This is sFEAST!">
                    </div>
                    <div class="col-md-8">
                        <h3>Online Tree-based Planning for Active Spacecraft Fault Estimation and Collision Avoidance</h3>
                        <p>James Ragan, <strong>Benjamin Riviere</strong> and Soon-Jo Chung.</p>
                        <p>Safe Fault Estimation with Active Sensing Tree Search (sFEAST) selects actions to excite observations most useful in diagnosing a fault affecting a robot's sensors and actuators, while probabilistically ensuring safety over the planning horizon. Published in Science Robotics August 2024 <a href="https://www.science.org/doi/abs/10.1126/scirobotics.adn4722">Paper</a>. </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 img-container">
                        <img src="images/bmdp.png" alt="This is POMCPMF!">
                    </div>
                    <div class="col-md-8">
                        <h3>Bayesian Active Sensing for Fault Estimation with Belief Space Tree Search</h3>
                        <p>James Ragan*, <strong>Benjamin Riviere*</strong> and Soon-Jo Chung.</p>
                        <p>Partially Observable Monte-Carlo Planning with Marginalized Filtering (POMCPMF) restores strategic exploration in information gathering tree search by computing exact Bayesian transitions, enabled by belief distribution factorization in fault estimation problems. Accepted at AIAA SciTech Forum 2023. <a href="https://arc.aiaa.org/doi/10.2514/6.2023-0874">Paper</a>. <a href="https://www.eas.caltech.edu/news/jimmy-ragan-and-benjamin-rivi%C3%A8re-receive-2023-aiaa-guidance-navigation-and-control-best-graduate-student-paper-award"><strong>Best Graduate Student Paper Award in the field of Guidance, Navigation, and Control at the 2023 AIAA SciTech Forum.</strong></a></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 img-container">
                        <img src="images/nte_overview.png" alt="This is NTE!">
                    </div>
                    <div class="col-md-8">
                        <h3>Neural Tree Expansion for Multi-Robot Planning in Non-Cooperative Environments</h3>
                        <p><strong>Benjamin Riviere</strong>, Wolfgang Hoenig, Matthew Anderson and Soon-Jo Chung.</p>
                        <p>Neural Tree Expansion (NTE) biases tree search with decentralized deep neural network generative models for real-time game-theoretic planning in high dimensional continuous spaces. Accepted at IEEE Robotics and Automation Letters (Robotics and Automation Letters) and International Conference on Intelligent Robots and Systems (IROS) 2021. <a href="https://arxiv.org/abs/2104.09705">Arxiv</a>, <a href="https://github.com/bpriviere/decision_making">Code</a>, <a href="https://youtu.be/mklbTfWl7DE">Video</a></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 img-container">
                        <img src="images/glas_overview.png" alt="This is GLAS!">
                    </div>
                    <div class="col-md-8">
                        <h3>Global-to-Local Safe Autonomy Synthesis for Multi-Robot Motion Planning with End-to-End Learning</h3>
                        <p><strong>Benjamin Riviere</strong>, Wolfgang Hoenig, Yisong Yue and Soon-Jo Chung.</p>
                        <p>GLAS learns decentralized coordinated policies from centralized data and uses nonlinear stability to enable end-to-end training with safety guarantees. Accepted at IEEE Robotics and Automation Letters and IROS 2020. <a href="https://arxiv.org/abs/2002.11807">Arxiv</a>, <a href="https://github.com/bpriviere/glas">Code</a>, <a href="https://youtu.be/z9LjSfLfG6c">Video</a> <a href="https://www.ieee-ras.org/publications/ra-l/ra-l-paper-awards"><strong>Honorable Mention for Best Paper of IEEE Robotics and Automation Letters 2020</strong></a></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 img-container">
                        <img src="images/htd2.png" alt="This is HTD2!">
                    </div>
                    <div class="col-md-8">
                        <h3>Hybrid Temporal Difference Learning for Adaptive Urban Taxi Dispatch</h3>
                        <p><strong>Benjamin Riviere</strong> and Soon-Jo Chung.</p>
                        <p>H-TD^2 coordinates thousands of urban taxis with a combination of: decentralized Kalman filtering for information sharing, local online reinforcement learning for value estimation, and game-theoretic task assignment for coordination. Accepted at IEEE Transactions on Intelligent Transportation Systems 2021. <a href="https://arxiv.org/abs/2105.02138">Arxiv</a></p>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <footer class="site-footer h-card">
        <div class="wrapper">
            <div class="footer-col-wrapper">
                <div class="footer-col">
                    <ul class="contact-list">
                        <li class="p-name">Benjamin Riviere</li>
                        <li><a class="u-email" href="mailto:benjamin.p.riviere@gmail.com">benjamin.p.riviere@gmail.com</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <p>Welcome to the site of Benjamin Riviere!</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
